{% extends 'master.html' %}
{% block title %} UserHome Page {% endblock %}
{% block body %} {% load static %}

<div class="container">
    <div class="row">
        <h2 class="text-center">{{status}}</h2>
        <div class="col-md-12 col-xl-12 col-lg-12 col-mx-auto">
            <h2>Welcome {{name}} ..!</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <h2 class="text-center">{{status}}</h2>
            <h2>{{msg}}</h2>
        <div class="col-md-6 col-lg-6 col-lg-6">
            <a href="show_event">
                <img src="{% static 'user/php.jpg' %}" width="500">
                <p>Show all events</p>
            </a>
        </div>
        <div class="col-md-6 col-lg-6 col-lg-6">
            <a href="ground_booking">
                <img src="{% static 'user/python1.jpg' %}" width="500">
                <p>Book a ground</p>
            </a>
        </div>
    </div>
</div>
{% endblock %}